#main {
  width: 80vw;
  min-width: 25em;
  padding: 1em 2em 15em;
}

h1 {
  text-align: center;
  margin-bottom: .3em;
}

p.text {
  margin: 1em 0 1em;
  font-weight: 600;
  text-wrap: balance;
  text-align: center;
}